### Install PyMySQL

In [ ]:
!pip install pymysql

In [ ]:
!pip install python-dotenv

In [ ]:
import os
from dotenv import load_dotenv

load_dotenv()

### Import PyMySQL

In [21]:
import pymysql

### MySQL Configuration

In [22]:
class config:
  HOST = os.getenv('MYSQL_HOST')
  PORT = int(os.getenv('MYSQL_PORT'))
  USER = os.getenv('MYSQL_USER')
  PASSWORD = os.getenv('MYSQL_PASSWORD')
  DB = os.getenv('MYSQL_DB')
  CHARSET = os.getenv('MYSQL_CHARSET')

### Connect DB

In [25]:
connection = pymysql.connect(host=config.HOST,
                             port=config.PORT,
                             user=config.USER,
                             password=config.PASSWORD,
                             db=config.DB,
                             charset=config.CHARSET)

### Show tables in DB

In [29]:
with connection.cursor() as cursor:
  cursor.execute("show tables;")
  tables = cursor.fetchall()
tables

(('audible_data',), ('audible_transaction',))

In [28]:
import pandas as pd

In [34]:
sql = 'SELECT * FROM audible_data '
audible_data = pd.read_sql(sql,connection)
audible_data = audible_data.set_index('Book_ID')
audible_data

,Book Title,Book Subtitle,Book Author,Book Narrator,Audio Runtime,Audiobook_Type,Categories,Rating,Total No. of Ratings,Price
Book_ID,,,,,,,,,,
1,Bamboozled by Jesus,How God Tricked Me into the Life of My Dreams,Yvonne Orji,Yvonne Orji,6 hrs and 31 mins,Unabridged Audiobook,Biographies & Memoirs,5,47.0,$29.65
2,Sixth Realm Part 1,"A LitRPG Fantasy Series (The Ten Realms, Book 6)",Michael Chatfield,Neil Hellegers,13 hrs and 33 mins,Unabridged Audiobook,Science Fiction & Fantasy,4.5,98.0,$24.95
3,Go Tell the Bees That I Am Gone,"Outlander, Book 9",Diana Gabaldon,Davina Porter,27 hrs and 30 mins,Unabridged Audiobook,Science Fiction & Fantasy,None,NaN,$41.99
4,How the Word Is Passed,A Reckoning with the History of Slavery Across...,Clint Smith,Clint Smith,10 hrs and 7 mins,Unabridged Audiobook,History,None,NaN,$29.65
5,The Devil May Dance,A Novel,Jake Tapper,Rob Shapiro,10 hrs and 12 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.5,108.0,$29.65
...,...,...,...,...,...,...,...,...,...,...
2265,Kama Sutra,Become a Master of the Art of Love Making. Tan...,Eva Becker,ChasMandala,3 hrs and 29 mins,Unabridged Audiobook,Erotica,5,203.0,$14.95
2266,Meditación Práctica para Principiantes [Prac...,Una guía para principiantes para aliviar la an...,Taylor Knox,William Ditilio,3 hrs and 14 mins,Unabridged Audiobook,Health & Wellness,5,203.0,$14.95
2267,Forgotten,"The Untold Story of D-day's Black Heroes, at H...",Linda Hervieux,Ron Butler,9 hrs and 33 mins,Unabridged Audiobook,History,4.6,70.0,$24.95
2268,The Missing,None,Daisy Pearce,Karen Cass,10 hrs and 18 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.2,141.0,$30.09
2269,Becoming,None,Michelle Obama,Michelle Obama,19 hrs and 3 mins,Unabridged Audiobook,Biographies & Memoirs,4.9,167195.0,$35.71

In [35]:
sql = 'SELECT * FROM audible_transaction '
audible_transaction = pd.read_sql(sql,connection)
audible_transaction = audible_transaction.set_index('book_id')
audible_transaction

                  timestamp   user_id                   country
book_id
1584    2021-05-01 00:00:01  ad8eca41                  Portugal
829     2021-05-01 00:00:03  561b26c1  United States of America
1391    2021-05-01 00:00:04  81f149e5                     Japan
1586    2021-05-01 00:00:07  4f218413                    Taiwan
300     2021-05-01 00:00:18  a4066781  United States of America
...                     ...       ...                       ...
600     2021-07-31 23:59:47  72da1411                  Portugal
462     2021-07-31 23:59:48  620c27c8                Montenegro
1656    2021-07-31 23:59:55  84fe88ab  United States of America
522     2021-07-31 23:59:57  fd6cc4fc  United States of America
110     2021-07-31 23:59:59  9f4d5e3b  United States of America

[1998821 rows x 3 columns]